.hero {
    padding-bottom: 10%;
}

.containner {}

.title {
    margin-bottom: 7%;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 20px;
}